.select2
{
    width: 100% !important;
}


.bg-gradient-primary {
    background-color: #879462;
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(10%, rgba(135, 148, 98,0.6)),to(rgba(135, 148, 98,0.6)));
    background-image: linear-gradient(180deg,rgba(135, 148, 98,0.6) 10%,rgba(135, 148, 98,0.6) 100%);
    background-size: cover;
}


.btn-primary {
    color: #586f6c;
    background-color: #FAF3E2 !important;
    border-color: #FAF3E2 !important;
}



.page-item.active .page-link {
    z-index: 1;
    color: grey!important;
    background-color: #FAF3E2 !important;
    border-color: #FAF3E2 !important;
}

.text-primary-color {
    color: #586f6c !important;
}

.section-title,.page-header
{
    text-align: center;
}

@media (min-width: 768px)
{
    .sidebar .sidebar-heading {
        text-align: right !important;
    }

}
thead tr
{
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(10%, #879462),to(#879462));
    background-image: linear-gradient(180deg,#879462 10%,#879462 100%);
    color: #FAF3E2;
}


@media (min-width: 576px)
{
    .topbar .dropdown .dropdown-menu {
        width: auto;
        right: unset;
    }
    .topbar .dropdown .dropdown-menu {
        width: calc(100% - 1.5rem);
        right: unset;
    }
}


.topbar .dropdown-list .dropdown-header {
    background-color: #FAF3E2;
    border: 1px solid #FAF3E2;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
}

#content
{
    display: none;
    min-height: 100vh !important;
}

#footer {
    display: none;
}
